@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

html{
    scroll-behavior: smooth;
}

main{
    display: flex;
}

body{
    background-color: #18ade4;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: max-content;   
}


/*Inicio das alterações do lado esquerdo*/
.lado-esquerdo{
    display: flex;
}

.form-box{
    width: 500px;
    height: 99.99vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 35, 56);
}
/*Logo marketdata e txt Service Desk*/
.titulo{
    text-align: center;
    color: #18ade4;
    align-content: center;
}
/*title*/
h1{
    margin-top: 30px;
}

.inputs{
    position: relative;
    margin: 40px 0;
    border-bottom: 2px solid #18ade4;
    background-color: transparent;
    width: 300px;
    color: #ffffff;
}
.btn{
    background-color: transparent;
    border: none;
    outline: none;
    width: 300px;
    color: #ffffff;
}

.btn-end{
    display: flex;
    justify-content: center;
}

.btn-lgn{
    color: rgb(255, 255, 255);
    background-color: #18ade4;
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.btn-lgn:hover{
    background-color:#ffffff;
    outline: none;
    border: none;
    color: #18ade4;
    cursor:pointer;
    transition: 500ms;
}

/*Fim das alterações do lado esquerdo*/

/*Imagem lado direito da tela*/
.lado-direito{
    width: 100%;
    background-image: url('../img/paisagens/galaxy.jpg');
    background-size: cover;
    background-position: center;
}
